body {
  font-family: sans-serif;
}

hr {
  border-style: dashed;
}

p.small-note {
  font-size: 12px;
  color: #666666;
}

table {
  border: #000099;
  border-style: solid;
  border-width: 2px;
  font-family: monospace;
  font-size: 12px;
  width: 60%;
}

button {
  font-size: 14px;
  height: auto;
  width: auto;
}

#fnControl button {
  font-size: 24px;
  height: auto;
  width: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

table > thead {
  background-color: #aaaaaa;
}

tr > td {
  border-right: #666666;
  border-right-style: dotted;
  border-right-width: 1px;
}
